<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Kontak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small"> Tambah Kontak </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Nama Kontak</ion-label>
      <ion-input
        required
        [(ngModel)]="nama"
        placeholder="Masukkan nama kontak"
        type="text"
      >
      </ion-input>
    </ion-item>
    <ion-item>  
      <ion-label position="floating">Nomor Telepon</ion-label>
      <ion-input
        required
        [(ngModel)]="no_tlp"
        placeholder="Masukkan nomor telepon"
        type="text"
      >
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          (click)="addData()"
          color="primary"
          shape="full"
          expand="block"
          >Tambah Kontak
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
